
<!doctype html>
<html ng-app="myModule" >
<head>
    <title>Scores</title>
    <script src='/scripts/game.js'></script>
    <script src='/scripts/angular.min.js'></script>
</head>

<body ng-app="myModule">
    <div ng-controller="myController">
        <% for(var i =0; i< data.length ; i++) { %><br>
            <%= data[i]['pname'] %>&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i]['pts'] %>&nbsp;&nbsp;&nbsp;&nbsp;<br>
        <input ng-model="second" placeholder="Second number" type="text" />
        <h5> Sum: {{ <%= data[i]['pts'] %> -- second }} </h5>
        <hr><br>
        <%} %>
      </div>

</body>
</html>