<!doctype html>
<html ng-app="myModule">
  <head>
    <script src="scripts/angular.js"></script>
    <script src='scripts/game.js'></script>
    <script src='scripts/script.js'></script>
    <script src="scripts/json2.js"></script>
  </head>
  
  <body ng-controller="myController">
    <form id="addingPLayers">
      <label>Player Name <input type="text" ng-model="user" /> </label>
      <button id="addPlayers" ng-click="addPlayer(user)">Add Player</button>
    </form>
    
    <form action="\players" method="POST"> 
      <button type="submit" name="done" value="{{ rowArr }}">Done</button>
    </form>

    <h4 ng-repeat="pl in rowArr">{{ pl.pname }}</h4>
    <br><br>
    {{ dre }}
  </body>
</html>
